---
layout: default
---

<body>
  <br>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span9">
        <br>
        <div class="visible-phone navbar">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="#">Mike Covington</a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  {% include nav-tab-links.html %}
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="hidden-phone tabbable tabs-left pull-left">
          <ul class="nav nav-tabs">
            {% include nav-tab-links.html %}
          </ul>
        </div>

        <div class="tab-content">
        {% include nav-tab-content.html %}
        </div>
      </div>

      <div class="span3 stats">
        {% include stats.html %}
      </div>

    </div>
    <br>
    <br>
    <br>
  </div>

</body>
