---
layout: minimal
---

<!doctype html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  <title>m.f. covington</title>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link href="{{ site.url }}/style.css" rel="stylesheet">
</head>
<body>
  <br>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span9">
        <br>
        <div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Background</a></li>
            <li><a href="#tab2" data-toggle="tab">Software</a></li>
            <li><a href="#tab3" data-toggle="tab">Websites</a></li>
            <li><a href="#tab4" data-toggle="tab">Publications</a></li>
            <li><a href="#tab5" data-toggle="tab">History</a></li>
            <li><a href="#tab6" data-toggle="tab">Other</a></li>
          </ul>
          <div class="tab-content">

            <div class="tab-pane active fade in" id="tab1">
              <h1>Background</h1>
            </div>

            <div class="tab-pane fade in" id="tab2">
              <h1>Software</h1>
            </div>

            <div class="tab-pane fade in" id="tab3">
              {% include websites-loop.html %}
            </div>

            <div class="tab-pane fade in" id="tab4">
              {% include pubs-snippet.html %}
            </div>

            <div class="tab-pane fade in" id="tab5">
              <h1>Positions</h1>
              <ul>
                <li>Assistant Project Scientist</li>
                <li>Assistant Professor</li>
                <li>Postdoctoral Fellow</li>
              </ul>
              <hr>
              <h1>Education</h1>
            </div>


            <div class="tab-pane fade in" id="tab6">
              <h1>Other</h1>
            </div>

          </div>
        </div>
      </div>

      <div class="span3 stats">
        <!-- <img src="http://placehold.it/400" alt="" class="img-rounded"> -->
        <h1>Mike Covington<!-- , Ph.D. --></h1>
        <hr>
        <h2>Assistant Project Scientist</h2>
        <h3><a href="http://malooflab.openwetware.org/" target="blank">Maloof Lab</a></h3>
        <h3><a href="http://www-plb.ucdavis.edu/" target="blank">Section of Plant Biology</a></h3>
        <h3><a href="http://www.ucdavis.edu/" target="blank">UC-Davis</a></h3>
        <hr>
        <a href="mailto:&#109;&#102;&#099;&#111;&#118;&#105;&#110;&#103;&#116;&#111;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#109;&#102;&#099;&#111;&#118;&#105;&#110;&#103;&#116;&#111;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a>
        <br>
        <!-- <a href="https://github.com/mfcovington">:GitHub:</a> -->
        <a href="https://github.com/mfcovington" target="blank">GitHub/mfcovington</a>
        <br>
        <!-- <a href="http://www.perlmonks.org/?node_id=971084">:PerlMonks:</a> -->
        <a href="http://www.perlmonks.org/?node_id=971084" target="blank">PerlMonks/frozenwithjoy</a>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</body>
</html>