.stats h1 {
  font-size: 200%;
  line-height: 1.2;
  margin: 0 0 4px 0;
  font-weight: 400;
}

.stats h2 {
  font-size: 150%;
  line-height: 1.1;
  margin: 0 0 3px 0;
  font-weight: 200;
}

.stats h3 {
  font-size: 130%;
  line-height: 1.1;
  margin: 0;
  font-weight: 200;
}


