body {
  font-family: 'Open Sans', sans-serif;
}

.stats h1 {
  font-size: 200%;
  line-height: 1.2;
  margin: 0 0 4px 0;
  font-weight: 400;
}

.stats h2 {
  font-size: 150%;
  line-height: 1.1;
  margin: 0 0 3px 0;
  font-weight: 200;
}

.stats h3 {
  font-size: 130%;
  line-height: 1.1;
  margin: 0;
  font-weight: 200;
}

/*change borders to orange (#FF6200)*/
hr {
  border: 0;
  border-top: 1px solid #FF6200;
  margin: 15px 0 15px 0;
}
.stats hr {
  width: 200px;
}

.tabs-left>.nav-tabs{float:left;margin-right:19px;border-right:1px solid #FF6200;}
.tabs-left>.nav-tabs>li>a:hover,.tabs-left>.nav-tabs>li>a:focus{border-color:#eeeeee #FF6200 #eeeeee #eeeeee;}
.tabs-left>.nav-tabs .active>a,.tabs-left>.nav-tabs .active>a:hover,.tabs-left>.nav-tabs .active>a:focus{border-color:#FF6200 transparent #FF6200 #FF6200;*border-right-color:#ffffff;}

/*change hover links to #104BA9*/
a:hover {
  color: #104BA9;
}

/*JUST FOR TESTING STUFF*/

article.aim section.aim-main h1,
article.protocol section.protocol-main h1,
article.software section.software-main h1,
article.people section.people-main h1 {
    font-size: 150%;
    line-height: 1.2;
}

article.aim section.aim-main h2,
article.protocol section.protocol-main h2,
article.software section.software-main h2,
article.people section.people-main h2 {
  font-weight: normal;
  padding: 0;
  font-size: 130%;
  line-height: 1.2;
}

article.aim section.aim-main,
article.protocol section.protocol-main,
article.software section.software-main/*,
article.people section.people-main*/ {
    padding: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #eeeeee;
}

article + article {
  padding: 20px 0 0 0;
}

ul.thumbnails > .row-fluid + .row-fluid/*, .row-fluid > li + li*/ {
  margin-top: 10px;
}

ul.thumbnails .thumbnail {
  padding: 10px;
}

img {
  border: 1px solid gray;
}

img.publication {
  border: 0;
}

.publinks {
  line-height: 2.4
}
