<!--
<div class="tab-pane active fade in" id="background-tab">
  <h1>Background</h1>
</div>
-->

<div class="tab-pane active fade in" id="software-tab">
  {% include software.html %}
</div>

<div class="tab-pane fade in" id="websites-tab">
  {% include websites-loop.html %}
</div>

<div class="tab-pane fade in" id="publications-tab">
  {% include pubs-snippet.html %}
</div>

<!--
<div class="tab-pane fade in" id="history-tab">
  <h1>Positions</h1>
  <ul>
    <li>Assistant Project Scientist</li>
    <li>Assistant Professor</li>
    <li>Postdoctoral Fellow</li>
  </ul>
  <hr>
  <h1>Education</h1>
</div>
-->

<!--
<div class="tab-pane fade in" id="other-tab">
  <h1>Other</h1>
</div>
-->
