{% for post in site.categories.publications %}
  {% for pub in post.articles %}
    <p>
      {{ pub.authors | replace:'Covington MF','<strong>Covington MF</strong>' }}. <a href="{{ pub.pubmed }}" target="_blank">{{ pub.title }}</a>. <em>{{ pub.journal }}</em> ({{ pub.year }}).
      {% unless pub.pdf == null %}
        <a href="{{ site.url }}/resources/pdf/{{ pub.pdf }}" class="label" target="_blank">PDF</a>
      {% endunless %}
      {% unless pub.si == null %}
        <a href="{{ site.url }}/resources/pdf/{{ pub.si }}" class="label" target="_blank">PDF + SI</a>
      {% endunless %}
      {% unless pub.other == null %}
        {% for extra in pub.other %}
            <a href="{% unless extra.link contains 'http://' %}{{ site.url }}/resources/pdf/{% endunless %}{{ extra.link }}" class="label label-warning" target="_blank">{{ extra.name }}</a>
        {% endfor %}
      {% endunless %}
    </p>
  {% endfor %}
{% endfor %}
