<ul class="thumbnails">
  {% for post in site.categories.publications %}
    {% for pub in post.articles %}
      <div class="row-fluid">
        <li class="span12">
        <div class="thumbnail">
          <div class="row-fluid">
            <section class="span4">
              <a href="{{ site.imgurl }}{{ pub.image }}" target="_blank">
                <img class="img-rounded publication" src="{{ site.imgurl }}{{ pub.image }}" alt="Image from {{ pub.title }}">
              </a>
            </section>
            <section class="span8">
              <h4><a href="{{ pub.pubmed }}" target="_blank">{{ pub.title }}.</a> <small>{{ pub.journal }} ({{ pub.year }})</small></h4>
              <p>
                {{ pub.authors | replace:'Covington MF','<strong>Covington MF</strong>' }}
              </p>
              <p class="publinks">
                {% unless pub.pubmed == null %}
                  <a href="{{ pub.pubmed }}" class="btn btn-info" target="_blank">PubMed</a>
                {% endunless %}
                {% unless pub.pdf == null %}
                  <a href="{{ site.pdfurl }}{{ pub.pdf }}" class="btn btn-info" target="_blank">PDF</a>
                {% endunless %}
                {% unless pub.si == null %}
                  <a href="{{ site.pdfurl }}{{ pub.si }}" class="btn btn-info" target="_blank">PDF + SI</a>
                {% endunless %}
                {% unless pub.comment == null %}
                  {% for extra in pub.comment %}
                    {% unless extra.name == null or extra.link == null %}
                      <a href="{% unless extra.link contains 'http://' %}{{ site.pdfurl }}{% endunless %}{{ extra.link }}" class="btn btn-primary" target="_blank">{{ extra.name }}</a>
                    {% endunless %}
                  {% endfor %}
                {% endunless %}
                {% unless pub.award == null %}
                  {% for extra in pub.award %}
                    {% unless extra.name == null or extra.link == null %}
                      <a href="{% unless extra.link contains 'http://' %}{{ site.pdfurl }}{% endunless %}{{ extra.link }}" class="btn btn-success" target="_blank">{{ extra.name }}</a>
                    {% endunless %}
                  {% endfor %}
                {% endunless %}
              </p>
              <hr>
              <p>{{ pub.abstract | markdownify }}</p>
            </section>
          </div>
        </div>
        </li>
      </div>
    {% endfor %}
  {% endfor %}
</ul>
