<div class="hero-unit sw-hero">

  <div class="pull-left githublinks">
    <img class="img-rounded" src="{{ site.imgurl }}mfc-gravatar.jpg" alt="mfcovington gravatar">

    <a href="https://github.com/mfcovington?tab=repositories" class="btn btn-primary btn-large input-block-level" target="_blank">
      GitHub Repositories
    </a>

    <a href="https://gist.github.com/mfcovington" class="btn btn-primary btn-large input-block-level" target="_blank">
      GitHub Gists
    </a>
  </div>

  <p>Biologists need computational tools that are easily scalable, customizable, and modular. I am moved by the concept of creating and accumulating all of the data gathering, formatting, and analysis modules that a particular lab might need such that even less computer-savvy researchers can easily customize their own workflows to do exactly what they want. Therefore, one of my main research interests is the development of robust, easy-to-use, open-source bioinformatic software</p>
  <p>I have several open-source coding projects of various sizes hosted on GitHub. Most are related to bioinformatics, while others are just fun side projects.<!--  Below are descriptions for some of them. --></p>

</div>
