<div class="hero-unit sw-hero">
  <div class="row-fluid">
    <div class="span4">
      <img class="img-rounded" src="{{ site.imgurl }}mfc-gravatar.jpg" alt="mfcovington gravatar">
    </div>
    <div class="span8">
      <p class="githublinks">
        <a href="https://github.com/mfcovington?tab=repositories" class="btn btn-primary btn-large" target="_blank">
          GitHub Repositories
        </a>
        <a href="https://gist.github.com/mfcovington" class="btn btn-primary btn-large" target="_blank">
          GitHub Gists
        </a>
      </p>
      <p>I have several open-source coding projects of various sizes on GitHub. Most are related to bioinformatics, while others are just fun side projects.<!--  Below are descriptions for some of them. --></p>
    </div>
  </div>
</div>