<!-- <img src="http://placehold.it/400" alt="" class="img-rounded"> -->
<h1>Mike Covington<!-- , Ph.D. --></h1>
<hr>
<h2>Assistant Project Scientist</h2>
<h3><a href="http://malooflab.openwetware.org/" target="_blank">Maloof Lab</a></h3>
<h3><a href="http://www-plb.ucdavis.edu/" target="_blank">Section of Plant Biology</a></h3>
<h3><a href="http://www.ucdavis.edu/" target="_blank">UC-Davis</a></h3>
<hr>
<a href="mailto:&#109;&#102;&#099;&#111;&#118;&#105;&#110;&#103;&#116;&#111;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#109;&#102;&#099;&#111;&#118;&#105;&#110;&#103;&#116;&#111;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a>
<br>
<a href="https://github.com/mfcovington" target="_blank">GitHub/mfcovington</a>
<br>
<a href="http://www.perlmonks.org/?node_id=971084" target="_blank">PerlMonks/frozenwithjoy</a>
<a href="http://stackexchange.com/users/974350/mfcovington?tab=accounts" target="_blank">StackExchange/mfcovington</a>
