  <div class="row-fluid">
    <li class="span12">
    <div class="thumbnail">
      <div class="row-fluid">
        <section class="span6">
          <a href="{{ mysite.liveurl }}" target="_blank">
            <img class="img-rounded" src="{{ site.imgurl }}{{ mysite.image }}" alt="R Club Website">
          </a>
        </section>
        <section class="span6">
          <h5>{{ mysite.title }}</h5>
          <p>{{ mysite.blurb }}</p>
          <p class="center"><a href="{{ mysite.liveurl }}" class="btn btn-success" target="_blank">Live Site</a> <a href="{{ mysite.codeurl }}" class="btn btn-info" target="_blank">Code on GitHub</a></p>
        </section>
      </div>
    </div>
    </li>
  </div>
