<div class="row-fluid">
  <li class="span12">
  <div class="thumbnail">
    <div class="row-fluid">
      <section class="span6">
        <a href="{{ mysite.liveurl }}" target="_blank">
          <img class="img-rounded" src="{{ site.imgurl }}{{ mysite.image }}" alt="Screenshot of {{ mysite.title }} site">
        </a>
      </section>
      <section class="span6 site-info">
        <h1>{{ mysite.title }}</h1>
        <p>
          {% for tech in mysite.techs %}
            <a href="{{ tech.link }}" class="label label-tech" target="_blank">{{ tech.name }}</a>
          {% endfor %}
        </p>
        <p>{{ mysite.blurb }}</p>
        <p>
          {% unless mysite.liveurl == null %}
            <a href="{{ mysite.liveurl }}" class="btn btn-success" target="_blank">Live Site</a>
          {% endunless %}
          {% unless mysite.codeurl == null %}
            <a href="{{ mysite.codeurl }}" class="btn btn-info" target="_blank">Code on GitHub</a>
          {% endunless %}
        </p>
      </section>
    </div>
  </div>
  </li>
</div>
