<ul class="thumbnails">
  <div class="row-fluid">

    <li class="span6">
      <div class="thumbnail">
        <a href="http://mfcovington.github.io/r_club/" target="_blank">
          <img class="img-rounded" src="{{ site.imgurl }}r-club-site.png" alt="R Club Website">
        </a>
        <div class="caption">
          <h5>R Club</h5>
          <p>R Club consists of a group of plant biologists at UC Davis that are interested in learning R.</p>
          <p><a href="http://mfcovington.github.io/r_club/" class="btn btn-success" target="_blank">Live Site</a> <a href="https://github.com/mfcovington/r_club" class="btn btn-info" target="_blank">Code on GitHub</a></p>
        </div>
      </div>
    </li>

    <li class="span6">
      <div class="thumbnail">
        <a href="http://plant-plasticity.github.io/" target="_blank">
          <img class="img-rounded" src="{{ site.imgurl }}plant-plasticity-site.png" alt="Plant Plasticity Project Website">
        </a>
        <div class="caption">
          <h5>Plant Plasticity</h5>
          <p>The Plant Plasticity Project is a research collaboration between labs at UC-Riverside, UC-Davis, and Emory University. Funded by the NSF Plant Genome Research Program, the project focuses on an integrative analysis of plasticity in cell fate determination in plants.</p>
          <p><a href="http://plant-plasticity.github.io/" class="btn btn-success" target="_blank">Live Site</a> <a href="https://github.com/plant-plasticity/plant-plasticity.github.io" class="btn btn-info" target="_blank">Code on GitHub</a></p>
        </div>
      </div>
    </li>

  </div>
</ul>
