<!doctype html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>m.f. covington</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="{{ site.url }}/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="dist/html5shiv.js"></script>
    <![endif]-->
  </head>

  {{ content }}

  <footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script>
      $('.nav a').click(function() {
        $('.btn-navbar').click();
      });
      $('.brand').click(function() {
        $('.btn-navbar').click();
      });
    </script>
  </footer>
</html>
